
 <!--Causes Start-->
 <section class="wf100 p80-40 blog">
    <div class="causes-grid">
       <div class="container">
          <div class="row">
             <div class="col-md-4 col-sm-6">
                <!--campaign box start-->
                <div class="campaign-box">
                   <div class="campaign-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="images/fc1.jpg" alt=""> </div>
                   <div class="campaign-txt">
                      <h5><a href="#">Let’s Safe our Planet by 
                         Stop Global Warming</a>
                      </h5>
                      <ul class="participants">
                         <li><img src="images/u1.jpg" alt=""></li>
                         <li><img src="images/u2.jpg" alt=""></li>
                         <li><img src="images/u3.jpg" alt=""></li>
                         <li><img src="images/u4.jpg" alt=""></li>
                         <li><img src="images/u5.jpg" alt=""></li>
                         <li><span>+16</span></li>
                         <li><strong><i>21</i> Backers</strong></li>
                      </ul>
                      <div class="progress">
                         <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <ul class="funds">
                         <li><strong>47%</strong> Funded</li>
                         <li><strong>$638.00</strong> Raised</li>
                         <li><strong>$9750.00</strong> Required</li>
                      </ul>
                   </div>
                   <a href="#" class="dbutton">Donate Now</a> 
                </div>
                <!--campaign box end--> 
             </div>
             <div class="col-md-4 col-sm-6">
                <!--campaign box start-->
                <div class="campaign-box">
                   <div class="campaign-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="images/fc2.jpg" alt=""> </div>
                   <div class="campaign-txt">
                      <h5><a href="#">It’s time to Safe Trees &
                         Forest Planting</a>
                      </h5>
                      <ul class="participants">
                         <li><img src="images/u5.jpg" alt=""></li>
                         <li><img src="images/u4.jpg" alt=""></li>
                         <li><span>M</span></li>
                         <li><img src="images/u5.jpg" alt=""></li>
                         <li><span>+16</span></li>
                         <li><strong><i>08</i> Backers</strong></li>
                      </ul>
                      <div class="progress">
                         <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <ul class="funds">
                         <li><strong>47%</strong> Funded</li>
                         <li><strong>$638.00</strong> Raised</li>
                         <li><strong>$9750.00</strong> Required</li>
                      </ul>
                   </div>
                   <a href="#" class="dbutton">Donate Now</a> 
                </div>
                <!--campaign box end--> 
             </div>
             <div class="col-md-4 col-sm-6">
                <!--campaign box start-->
                <div class="campaign-box">
                   <div class="campaign-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="images/fc3.jpg" alt=""> </div>
                   <div class="campaign-txt">
                      <h5><a href="#">Securing Endagered
                         Animal’s Life</a>
                      </h5>
                      <ul class="participants">
                         <li><img src="images/u1.jpg" alt=""></li>
                         <li><img src="images/u2.jpg" alt=""></li>
                         <li><img src="images/u3.jpg" alt=""></li>
                         <li><span>S</span></li>
                         <li><img src="images/u5.jpg" alt=""></li>
                         <li><span>+16</span></li>
                         <li><strong><i>19</i> Backers</strong></li>
                      </ul>
                      <div class="progress">
                         <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <ul class="funds">
                         <li><strong>47%</strong> Funded</li>
                         <li><strong>$638.00</strong> Raised</li>
                         <li><strong>$9750.00</strong> Required</li>
                      </ul>
                   </div>
                   <a href="#" class="dbutton">Donate Now</a> 
                </div>
                <!--campaign box end--> 
             </div>
             <div class="col-md-4 col-sm-6">
                <!--campaign box start-->
                <div class="campaign-box">
                   <div class="campaign-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="images/causes/fc4.jpg" alt=""> </div>
                   <div class="campaign-txt">
                      <h5><a href="#">Let’s Safe our Planet by 
                         Stop Global Warming</a>
                      </h5>
                      <ul class="participants">
                         <li><img src="images/u1.jpg" alt=""></li>
                         <li><img src="images/u2.jpg" alt=""></li>
                         <li><img src="images/u3.jpg" alt=""></li>
                         <li><img src="images/u4.jpg" alt=""></li>
                         <li><img src="images/u5.jpg" alt=""></li>
                         <li><span>+16</span></li>
                         <li><strong><i>21</i> Backers</strong></li>
                      </ul>
                      <div class="progress">
                         <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <ul class="funds">
                         <li><strong>47%</strong> Funded</li>
                         <li><strong>$638.00</strong> Raised</li>
                         <li><strong>$9750.00</strong> Required</li>
                      </ul>
                   </div>
                   <a href="#" class="dbutton">Donate Now</a> 
                </div>
                <!--campaign box end--> 
             </div>
             <div class="col-md-4 col-sm-6">
                <!--campaign box start-->
                <div class="campaign-box">
                   <div class="campaign-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="images/causes/fc5.jpg" alt=""> </div>
                   <div class="campaign-txt">
                      <h5><a href="#">It’s time to Safe Trees &
                         Forest Planting</a>
                      </h5>
                      <ul class="participants">
                         <li><img src="images/u5.jpg" alt=""></li>
                         <li><img src="images/u4.jpg" alt=""></li>
                         <li><span>M</span></li>
                         <li><img src="images/u5.jpg" alt=""></li>
                         <li><span>+16</span></li>
                         <li><strong><i>08</i> Backers</strong></li>
                      </ul>
                      <div class="progress">
                         <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <ul class="funds">
                         <li><strong>47%</strong> Funded</li>
                         <li><strong>$638.00</strong> Raised</li>
                         <li><strong>$9750.00</strong> Required</li>
                      </ul>
                   </div>
                   <a href="#" class="dbutton">Donate Now</a> 
                </div>
                <!--campaign box end--> 
             </div>
             <div class="col-md-4 col-sm-6">
                <!--campaign box start-->
                <div class="campaign-box">
                   <div class="campaign-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="images/causes/fc6.jpg" alt=""> </div>
                   <div class="campaign-txt">
                      <h5><a href="#">Securing Endagered
                         Animal’s Life</a>
                      </h5>
                      <ul class="participants">
                         <li><img src="images/u1.jpg" alt=""></li>
                         <li><img src="images/u2.jpg" alt=""></li>
                         <li><img src="images/u3.jpg" alt=""></li>
                         <li><span>S</span></li>
                         <li><img src="images/u5.jpg" alt=""></li>
                         <li><span>+16</span></li>
                         <li><strong><i>19</i> Backers</strong></li>
                      </ul>
                      <div class="progress">
                         <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <ul class="funds">
                         <li><strong>47%</strong> Funded</li>
                         <li><strong>$638.00</strong> Raised</li>
                         <li><strong>$9750.00</strong> Required</li>
                      </ul>
                   </div>
                   <a href="#" class="dbutton">Donate Now</a> 
                </div>
                <!--campaign box end-->