<body>
   <div class="wrapper">
      <!--Header Start-->
      <header class="header-style-2">
         <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index"><img src="images/h2logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fas fa-bars"></i> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                     <a class="nav-link " href="index" aria-haspopup="true" aria-expanded="false"> Home </a>
                     
                  </li>
                  <li class="nav-item"> <a class="nav-link" href="about">About</a> </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link" href="event"  ria-haspopup="true" aria-expanded="false"> Events </a>
                     
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link" href="causes"  aria-haspopup="true" aria-expanded="false"> Causes </a>
                     
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link" href="blog"  aria-haspopup="true" aria-expanded="false"> Blogs </a>
                     
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href=""  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Pages </a>
                     <ul class="dropdown-menu" >
                        
                        <li>
                           <a href="shop">Shop</a>
                           
                        </li>
                        <li>
                           <a href="team">Team</a>
                           
                        </li>
                        
                        <li><a href="donation">Donation</a> </li>
                       
                     </ul>
                  </li>
                  
                     <a class="nav-link " href="contact"  aria-haspopup="true" aria-expanded="false"> Contact </a>
                     
                  
               </ul>
               <ul class="topnav-right">
                  <li> <a class="mdonate" href="donation"><span>Make a Donation</span></a> </li>
                  <li> <a class="search-icon" href="#search"> <i class="fas fa-search"></i> </a> </li>
                  <li class="dropdown">
                     <a class="cart-icon" href="#" role="button" id="cartdropdown" data-toggle="dropdown"> <i class="fas fa-shopping-cart"></i></a>
                     <div class="dropdown-menu cart-box" aria-labelledby="cartdropdown">
                        Recently added item(s)
                        <ul class="list">
                           <li class="item">
                              <a href="#" class="preview-image"><img class="preview" src="images/pro.jpg" alt=""></a>
                              <div class="description"> <a href="#">Sample Course</a> <strong class="price">1 x $44.95</strong> </div>
                           </li>
                           <li class="item">
                              <a href="#" class="preview-image"><img class="preview" src="images/pro.jpg" alt=""></a>
                              <div class="description"> <a href="#">Sample Course</a> <strong class="price">1 x $44.95</strong> </div>
                           </li>
                        </ul>
                        <div class="total">Total: <strong>$44.95</strong></div>
                        <div class="view-link"><a href="#">Proceed to Checkout</a> <a href="#">View cart </a></div>
                     </div>
                  </li>
                  <li class="login-reg"> <a href="my-account">Login</a> | <a href="my-account">Signup</a> </li>
               </ul>
            </div>
         </nav>
      </header>