
 <!--Causes Start-->
 <section class="wf100 p80 blog">
    <div class="projects-grid">
       <div class="container">
          <div class="row">
             <div class="col-md-4 col-sm-6">
                <!--campaign box start-->
                <div class="ser-box">
                   <div class="ser-thumb">
                      <a href="#"><i class="fas fa-link"></i></a>
                      <img src="images/serimg1.jpg" alt="">
                   </div>
                   <div class="ser-txt">
                      <h5> <a href="#">Control Pollution &amp; Environment</a> </h5>
                      <span class="aicon"><i class="fas fa-arrow-right"></i></span> 
                   </div>
                </div>
                <!--campaign box end--> 
             </div>
             <div class="col-md-4 col-sm-6">
                <!--campaign box start-->
                <div class="ser-box">
                   <div class="ser-thumb">
                      <a href="#"><i class="fas fa-link"></i></a>
                      <img src="images/serimg2.jpg" alt="">
                   </div>
                   <div class="ser-txt">
                      <h5> <a href="#">Save World’s
                         Water Resources</a> 
                      </h5>
                      <span class="aicon"><i class="fas fa-arrow-right"></i></span> 
                   </div>
                </div>
                <!--campaign box end--> 
             </div>
             <div class="col-md-4 col-sm-6">
                <!--campaign box start-->
                <div class="ser-box">
                   <div class="ser-thumb">
                      <a href="#"><i class="fas fa-link"></i></a>
                      <img src="images/serimg3.jpg" alt="">
                   </div>
                   <div class="ser-txt">
                      <h5> <a href="#">Recycling &amp; Waste
                         Management</a> 
                      </h5>
                      <span class="aicon"><i class="fas fa-arrow-right"></i></span> 
                   </div>
                </div>
                <!--campaign box end--> 
             </div>
             <div class="col-md-4 col-sm-6">
                <!--campaign box start-->
                <div class="ser-box">
                   <div class="ser-thumb">
                      <a href="#"><i class="fas fa-link"></i></a>
                      <img src="images/serimg4.jpg" alt="">
                   </div>
                   <div class="ser-txt">
                      <h5> <a href="#">Save Plants &amp;
                         Forest Planting</a> 
                      </h5>
                      <span class="aicon"><i class="fas fa-arrow-right"></i></span> 
                   </div>
                </div>
                <!--campaign box end--> 
             </div>
             <div class="col-md-4 col-sm-6">
                <!--campaign box start-->
                <div class="ser-box">
                   <div class="ser-thumb">
                      <a href="#"><i class="fas fa-link"></i></a>
                      <img src="images/serimg5.jpg" alt="">
                   </div>
                   <div class="ser-txt">
                      <h5> <a href="#">Implement Solar
                         &amp; Wind Energies</a> 
                      </h5>
                      <span class="aicon"><i class="fas fa-arrow-right"></i></span> 
                   </div>
                </div>
                <!--campaign box end--> 
             </div>
             <div class="col-md-4 col-sm-6">
                <!--campaign box start-->
                <div class="ser-box">
                   <div class="ser-thumb">
                      <a href="#"><i class="fas fa-link"></i></a>
                      <img src="images/serimg5.jpg" alt="">
                   </div>
                   <div class="ser-txt">
                      <h5> <a href="#">Implement Solar
                         &amp; Wind Energies</a> 
                      </h5>
                      <span class="aicon"><i class="fas fa-arrow-right"></i></span> 
                   </div>
                </div>
                <!--campaign box end--> 