
 <!--Causes Start-->
 <section class="wf100 p80 team">
    <div class="team-grid">
       <div class="container">
          <div class="row">
             <!--Team Box Start-->
             <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-box">
                   <img src="images/h3team1.jpg" alt="">
                   <div class="team-info">
                      <h3>Mr. Elven Micky</h3>
                      <p>Team Head</p>
                      <ul>
                         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <!--Team Box Start--> 
             <!--Team Box Start-->
             <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-box">
                   <img src="images/h3team2.jpg" alt="">
                   <div class="team-info">
                      <h3>Johnson Alven</h3>
                      <p>Project Coordinator</p>
                      <ul>
                         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <!--Team Box Start--> 
             <!--Team Box Start-->
             <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-box">
                   <img src="images/h3team3.jpg" alt="">
                   <div class="team-info">
                      <h3>Daniel Anderson</h3>
                      <p>Volunteer</p>
                      <ul>
                         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <!--Team Box Start-->
             <!--Team Box Start-->
             <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-box">
                   <img src="images/h3team4.jpg" alt="">
                   <div class="team-info">
                      <h3>Mr. Elven Micky</h3>
                      <p>Team Head</p>
                      <ul>
                         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <!--Team Box Start--> 
             <!--Team Box Start-->
             <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-box">
                   <img src="images/h3team5.jpg" alt="">
                   <div class="team-info">
                      <h3>Johnson Alven</h3>
                      <p>Project Coordinator</p>
                      <ul>
                         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <!--Team Box Start--> 
             <!--Team Box Start-->
             <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-box">
                   <img src="images/h3team6.jpg" alt="">
                   <div class="team-info">
                      <h3>Daniel Anderson</h3>
                      <p>Volunteer</p>
                      <ul>
                         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <!--Team Box Start-->
             <!--Team Box Start-->
             <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-box">
                   <img src="images/h3team7.jpg" alt="">
                   <div class="team-info">
                      <h3>Mr. Elven Micky</h3>
                      <p>Team Head</p>
                      <ul>
                         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <!--Team Box Start--> 
             <!--Team Box Start-->
             <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-box">
                   <img src="images/h3team8.jpg" alt="">
                   <div class="team-info">
                      <h3>Johnson Alven</h3>
                      <p>Project Coordinator</p>
                      <ul>
                         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <!--Team Box Start--> 
             <!--Team Box Start-->
             <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-box">
                   <img src="images/h3team9.jpg" alt="">
                   <div class="team-info">
                      <h3>Daniel Anderson</h3>
                      <p>Volunteer</p>
                      <ul>
                         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <!--Team Box Start-->
          </div>
          <div class="row">
             <div class="col-md-12">
                <div class="gt-pagination mt20">
                   <nav>
                      <ul class="pagination">
                         <li class="page-item"> <a class="page-link" href="#" aria-label="Previous"> <i class="fas fa-angle-left"></i> </a> </li>
                         <li class="page-item"><a class="page-link" href="#">1</a></li>
                         <li class="page-item active"><a class="page-link" href="#">2</a></li>
                         <li class="page-item"><a class="page-link" href="#">3</a></li>
                         <li class="page-item"> <a class="page-link" href="#" aria-label="Next"> <i class="fas fa-angle-right"></i> </a> </li>
                      </ul>
                   </nav>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--Causes End--> 